.home {
	display: flex;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
	max-width: 1500px;
	
}

.home__image {
	width: 100%;
	z-index: -1;
	margin-bottom: -170px;
	mask-image: linear-gradient(to bottom, rgb(142, 243, 203), rgba(218, 238, 118, 0));
}

.home__row {
	display: flex;
	z-index: 1;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 10px;
}
  